


<div class="container">
    <a href="/admin/KisiselBilgi" class="btn btn-primary" style="margin-bottom:15px;">Geri Git</a>
    <form action="/admin/YetenekBilgi/Update/@Model.Id" method="post">
        <input type="text" class="form-control" style="margin-bottom:10px;" value="@Model.YetenekAdi" name="YetenekAdi" />
        <input type="number" class="form-control" style="margin-bottom:10px;" value="@Model.TecrübeYili" name="TecrübeYili" />
        <input type="number" class="form-control" style="margin-bottom:10px;" value="@Model.BilgiOrani" name="BilgiOrani" />


        <button type="submit" class="form-control btn btn-primary">Ekleme Yap</button>
    </form>

    @if (ViewBag.Message != null)
    {
                <div class="alert alert-success" style="margin-top:15px">@ViewBag.Message</div>

    }
</div>